@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@700&display=swap');

body{
    width: 99%;
    height: 97vh;

    display: flex;
    justify-content: center;
    align-items: center;
    

    background-image: url("../img/van/backLogin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    font-family: 'Inter', sans-serif;
}

.sec-sign{
    width: 20rem;
    height: 22rem;

    border: solid 2px #ffffff30;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff29;
}

.form-sign{
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titulo-sign{
    font-size: 2.5rem;
    
    color: orange;

    font-family: 'Oswald', sans-serif;
}

#email,#senha,#nome{
    height: 1.5rem;
    width: 15rem;

    border-radius: 10px;
    border: transparent;

    text-align: center;
}

#submit-sign{
    width: 4rem;
    height: 1.5rem;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;

    background-color: #ffffff65;
    border: transparent;
    border-radius: 10px;
}

#submit-sign:hover{
    background-color: #ffffff29;
    border: transparent;
}